openapi: 3.0.0
info:
  title: Open API Basics
  description: Specification
  termsOfService: http://example.com/terms/
  contact:
    name: srijil
    url: http://facebook.com/srijilv
    email: srijilvijayan@gmail.com
  license:
    name: apache2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
- url: www.dev-example.com
  description: Development
- url: www.sandbox-example.com
  description: Sandbox
paths:
  /v1/customers:
    description: All List of customers
    get:
      responses:
        "200":
          description: List  of customers
components: {}
