openapi: 3.0.0
info:
  title: Open API Basics
  description: Specification
  termsOfService: http://example.com/terms/
  contact:
    name: srijil
    url: http://facebook.com/srijilv
    email: srijilvijayan@gmail.com
  license:
    name: apache2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
- url: www.dev-example.com
  description: Development
- url: www.sandbox-example.com
  description: Sandbox
paths:
  /v1/customers:
    description: All List of customers
    get:
      responses:
        "200":
          description: List  of customers
          content:
            application/json:
              schema:
                maxLength: 100
                minLength: 1
                type: array
                description: array to hold customers
                items:
                  maxLength: 100
                  minLength: 1
                  type: string
                  description: array items
        "400":
          description: Not Found
        "500":
          description: Server Error
  /v1/cities:
    description: API to Fetch All Cities
    get:
      responses:
        "200":
          description: List of Cities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
components:
  schemas:
    inline_response_200:
      type: object
      properties:
        id:
          format: uuid
        cityCode:
          maxLength: 3
          minLength: 2
          type: string
          example: CLT
        cityName:
          maxLength: 50
          minLength: 2
          type: string
          example: Calicut
        countryName:
          maxLength: 100
          minLength: 2
          type: string
          example: India
        zipCode:
          maxLength: 6
          minLength: 5
          type: integer
          example: 673633
        spokenLanguages:
          type: object
          properties:
            primary:
              type: string
              example: Malayalam
            other:
              type: string
              example: Tamil
