openapi: 3.0.0
info:
  title: Open API Basics
  description: Specification
  termsOfService: http://example.com/terms/
  contact:
    name: srijil
    url: http://facebook.com/srijilv
    email: srijilvijayan@gmail.com
  license:
    name: apache2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
- url: www.dev-example.com
  description: Development
- url: www.sandbox-example.com
  description: Sandbox
paths:
  /v1/customers:
    description: All List of customers
    get:
      parameters:
      - name: pageNo
        in: query
        description: Page No
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageLimit
        in: query
        description: Page Limit
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: List  of customers
          content:
            application/json:
              schema:
                maxLength: 100
                minLength: 1
                type: array
                description: array to hold customers
                items:
                  $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Not Found
        "500":
          description: Server Error
  /v1/cities:
    description: API to Fetch All Cities
    get:
      parameters:
      - name: pageNo
        in: query
        description: Page No
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageLimit
        in: query
        description: Page Limit
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: List of Cities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Citylistmin'
components:
  schemas:
    SpokenLanguages:
      type: object
      properties:
        primary:
          type: string
          example: Malayalam
        other:
          type: string
          example: Tamil
    Zipcode:
      maxLength: 6
      minLength: 5
      type: integer
      example: 673633
    Countryname:
      maxLength: 100
      minLength: 2
      type: string
      example: India
    Cityname:
      maxLength: 50
      minLength: 2
      type: string
      example: Calicut
    Citycode:
      maxLength: 3
      minLength: 2
      type: string
      example: CLT
      enum:
      - CLT
      - KCH
      - KNR
      - MLP
    Citymayor:
      maxLength: 50
      minLength: 5
      type: string
      example: Ravi
    Citylist:
      type: object
      properties:
        id:
          format: uuid
        cityCode:
          $ref: '#/components/schemas/Citycode'
        cityName:
          $ref: '#/components/schemas/Cityname'
        countryName:
          $ref: '#/components/schemas/Countryname'
        zipCode:
          $ref: '#/components/schemas/Zipcode'
        spokenLanguages:
          $ref: '#/components/schemas/SpokenLanguages'
    Citylistmin:
      type: object
      properties:
        extras:
          $ref: '#/components/schemas/Citymayor'
      allOf:
      - $ref: '#/components/schemas/Citylist'
    inline_response_200:
      type: object
      properties:
        id:
          format: uuid
        customerId:
          type: integer
          format: int32
          example: 1222
        customerName:
          maxLength: 50
          minLength: 2
          type: string
        customerCurrency:
          maxLength: 3
          minLength: 3
          type: string
          example: USD
          enum:
          - USD
          - CRC
          - INR
        transactionCurrency:
          type: array
          example:
          - USD
          - CRC
          - INR
          items:
            type: string
            enum:
            - USD
            - CRC
            - INR
        customerROE:
          type: number
          format: float
          example: 2.23
      description: customer data
  parameters:
    PageNo:
      name: pageNo
      in: query
      description: Page No
      required: true
      style: form
      explode: true
      schema:
        type: integer
        format: int32
        default: 1
    PageLimit:
      name: pageLimit
      in: query
      description: Page Limit
      required: false
      style: form
      explode: true
      schema:
        type: integer
        format: int32
        default: 10
